$xs: "screen and (min-width: 425px)";
$sm: "screen and (min-width: 640px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 1024px)";
$xl: "screen and (min-width: 1280px)";
$xxl: "screen and (min-width: 1536px)";
$primary: #8b5cf6;
