.dropdown:hover .dropdown-menu {
    display: block;
}
.width-10-screen {
    width: 10vw;
}

.hover\:text-morado-500:hover,
.hover\:color-profile:hover {
    --tw-text-opacity: 1;
    color: rgba(#8b5cf6, var(--tw-text-opacity));
}

.text-morado-500,
.color-profile {
    --tw-text-opacity: 1;
    color: rgba(#8b5cf6, var(--tw-text-opacity));
}

.border-morado-500,
.color-profile {
    --tw-border-opacity: 1;
    border-color: rgba(#8b5cf6, var(--tw-border-opacity));
}

@media (min-width: 1024px) {
    .lg\:p-20x {
        padding-left: 18rem;
        padding-right: 18rem;
    }
}

.main {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("../images/Fondo.jpg") no-repeat fixed;
    background-size: cover;
    padding-bottom: 0;
    @media #{$md} {
        // padding-bottom: 76px;
    }
    .min-h-screen-good {
        min-height: 385px;
    }
}
